<span>Hello, </span><br/>
<span>Greetings of the day!</span>

<p>
  Dear <%= details.ub_first_name %> <%= details.ub_middle_name %> <%= details.ub_last_name %>,
</p>
<br/>

<p style="color:#1c7107;">
  Your registration for दि जालना पिपल्स को-ऑप. बँक लि., जालना recruitment is successful.
</p>
<br/>

<p>
  Your login details are as<br/>
  Username::<strong><%= details.r_id %></strong><br/>
  Password::<strong><%= details.ub_password %></strong><br/>
  <strong><mark>Do not share the credentials.</mark></strong><br/>
</p>

<p><i>Note: This is a system generated email.</i></p>

<p>
  Thanks & Regards,<br/>
  HELP MUCBF TEAM<br/>
  CONTACT NO :: +91-782080844
</p>
