<span>Good Afternoon, </span><br/>
<span>Greetings of the day!</span>

<p>Dear <%= details.ub_first_name %> <%= details.ub_middle_name %> <%= details.ub_last_name %>,</p><br/>

<p>The following important guidelines related to examination are mentioned on the website:</p><br>

<p style="color:#1c7107;"><b>1. Important Instructions For Candidates.</b></p><br>
<p style="color:#1c7107;"><b>2. Valid Candidate List.</b></p><br>

<p>
  Kindly visit the official website 
  <a style="color:red" href="<%= config.website_url %>" target="_blank">
    <%= config.website_url_label %>
  </a>
  for more details.
</p>
<br/>

<p>
  HELP MUCBF TEAM<br/>
  CONTACT NO :: <%= config.contact_no %>
</p>
